input.ui-input-text-placeholder, textarea.ui-input-text-placeholder {
    width: 98% !important;
}



#map1{
    width: 525px;
    height: 400px;
}
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

.container {
    margin-top: 20px;
}
